div.svg-fig {
	width: 55%;
	padding: 5px 0 20px 0;
}

div.svg-fig .fig-caption {
	padding: 0 20px;
	font-size: 14px;
}

div.svg-fig svg#fig1 {
	font-family: "Roboto";
	font-size: 11px;
	display: block;
	margin-left: 25px;
}

div.svg-fig svg#fig1 .circ-label {
	fill: white;
	pointer-events: none;
}

div.svg-fig svg#fig1 #tooltip text {
	font-family: "Inconsolata", sans-serif;
	font-weight: bold;
	font-size: 13.5px;
}