div.svg-fig {
	width: 55%;
	padding: 15px 0 30px 0;
}

div.svg-fig .fig-caption {
	padding: 0 20px;
	font-size: 14px;
}

div.svg-fig svg#fig1 {
	font-family: "Roboto";
	font-size: 11px;
	display: block;
	margin-left: 25px;
}

div.svg-fig svg#fig1 .circ-label {
	fill: white;
	pointer-events: none;
}

div.svg-fig svg#fig1 #tooltip text {
	font-family: "Inconsolata", sans-serif;
	font-weight: bold;
	font-size: 13.5px;
}

div.svg-fig svg#fig2 .graph-rect {
	fill: black;
	opacity: 0.85;
}

div.svg-fig svg#fig2 .mean-line {
	stroke-width: 0.85;
	stroke: red;
	stroke-dasharray: 3, 1;
}

.info-div {
	text-align: right;
	background-color: #F0F0F0;
	display: inline-block;
	float: right;
	padding: 3px 5px;
	border-radius: 2px;
	pointer-events: none;
}

#steps-list {
	float: left;
	width: 600px;
	display: block;
	padding: 0;
	padding-left: 2.4%;
}

#steps-container {
	width: 1300px;
	position: relative;
	overflow: hidden;
	display: block;
	padding: 0;
	margin: 0;
}

#fig2-container {
	float: right;
	width: 580px;
	padding: 0;
	opacity: 0;
}

#fig2-container.graph-scroll-fixed {
	position: fixed;
	display: block;
	top: 30%;
}

#fig2-container.graph-scroll-below {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.play-icon {
	margin: 0 0 -0.6rem 0;
	opacity: 0.6;
	width: 1.85rem;
	display: inline-block;
	cursor: default;
}

a.play-icon.in-list {
	float: right;
	margin-right: 15px;
}

a.play-icon.in-list:hover {
	opacity: 0.8;
}

a.play-icon.in-list:active {
	width: 2.1rem;
	margin-right: 12px;
}